body {
  font-family: Arial, sans-serif;
  background: rgb(240, 239, 239);
  padding: 20px;
  
}

.post-card {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: black 2px,;
}

.post-title {
  font-size: 20px;
  color: rgb(95, 95, 173);
  margin: 0 0 4px;
}

.post-date {
  font-size: 12px;
  color: grey;
  margin: 0 0 12px;
}

.post-content {
  display: flex;
  align-items: flex-start;
}

.post-image {
  flex: 0 0 120px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.post-image img {
  max-width: 60%;
}

.post-text p {
  font-size: 14px;
  color: rgb(38, 38, 38);
  margin: 0 0 8px;
}

button {
  background: rgb(30, 30, 30);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #444;
}

